@import url('https://fonts.googleapis.com/css?family=Bitter&display=swap');

.primary-color {
  color: rgb(235, 66, 102);
}
.white-text {
  color: white;
}


body {
  background-color: rgb(240, 241, 250);
}

button {
  border-radius: 30px;
  background-color: rgb(235, 66, 102);
  color: white;
  width: 11em;
  height: 4em;
  border: 0px;
  font-size: .8em;
}

section {
  margin-top: 10em;
}

.row {
  display: flex;
  flex-grow: 1;
}



.button-shadow {
  box-shadow: 0px 10px 20px rgba(235, 66, 102, .4);
}


.content {
  background-color: white;
}

.card {
  border-radius: 10px;
}


#landing {
  position: relative;
  
/* Rectangle: */
  background-image: linear-gradient(45deg, #6D208A 0%, #712D98 9%, #8672E9 61%, #42B3EB 100%);
  height: 60vh;
  border-radius: 0px 0px 200px 200px;
}

#intro-text {
  position: absolute;
  width: 400px;
  top: calc(50% - 100px);
  left: calc(50% - 200px);
  display: flex;
  align-items: center;
  align-content: center;
  flex-direction: column;
}

#intro-text h1{
  font-family: 'Bitter';
}

#intro-text h2{
  font-family: 'Bitter';
}

#aboutme-section {
  border-radius: 10px;
  box-shadow: 0px 10px 20px lightgray;
}

#transition {
  position: absolute;
  bottom: -4px;
  margin: 0;
  border: 0
}
#transition > img {
  margin: 0;
  border: 0;
  width: 100vw;
}
.row .column:nth-child(2) {
  margin-left: 20px;
}
@media (max-width: 960px) {
  .row {
    flex-direction: column;
  }
    
  .row .column:nth-child(2) {
    margin-left: 0px;
    flex-grow: 1;
  }

  .row .column:nth-child(2) div:nth-child(1) {
    margin-top: 20px;
  }
}

#resume-link > button:hover {
  cursor: pointer;
}


